/*CSS Stylesheet*/

/*
* {
border: 1px solid red;
}
*/



#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  /* border-radius: 2px; */
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

a:link{
  color: black;
}

.corners{
border-radius: 50px;
}


button{
width: 400px;

}
h1,h2,h3,h4,h5{
font-family: myriad-pro, sans-serif;
font-weight: 700;
font-style: bold;
}

h1{
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: xx-large;
  }