/*CSS Stylesheet*/

/*
* {
border: 1px solid red;
}
*/



#map {
  height: 100%;
  
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  /* border-radius: 2px; */
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

a:link{
  color: black;
}

button{
width: 400px;

}
h1,h2,h3,h4,h5{
font-family: myriad-pro, sans-serif;
font-weight: 700;
font-style: bold;
}
p{
  font-family: myriad-pro, sans-serif;
  font-weight:lighter;
  }
h1{
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: xx-large;
  }



#square{
    border: 4px solid purple;
    width: 55px;
    height:55px;
    padding:  32px;
  /*   transform: rotate(45deg); */
    animation: rotation 5s infinite linear; 
    animation-direction: reverse;
  }

  @keyframes rotation {
    0%{transform:scale(100%)}
    
    50%{ transform:scale(175%)
    }
  }


  .green{color: #85E089;}

  .frost{  box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(10px);}

    a{text-decoration: none;}

    a:current{text-decoration: underline;}

    .modal-backdrop {
      box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(10px);
   }


   .corners{ border-radius: 50px;}